@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

body {
background-color: rgb(156, 156, 156);
overflow: hidden;
}

.moldura iframe {
border: 1px solid black;
width: 215px;
height: 468px;
border-radius: 30px;
position: relative;
top: 18px;
left: 234px;

}

.moldura {
justify-content: center;
justify-items: center;
position: relative;
display: flex;

}

.button {
    display: grid;
    gap: 30px;
   padding-left: 100px;
    top: 150px;
 position: absolute;
}

nav a:hover {
background-color: rgb(95, 94, 94);
border-radius: 5px;
transition-duration: 0.3s;
}

h2{
position: fixed;
font-family: "Faculty Glyphic", sans-serif;
background-color: rgb(41, 41, 41);
color: rgb(233, 233, 233);
padding: 0 5px;
}

p{
position: fixed;
top: 43px;
left: 75px;
color: rgb(14, 14, 14);
font-family: "Jost", sans-serif;
}
p:hover{
color: antiquewhite;

}

@media (max-width: 500px) {
h2{
font-size: 14px;
}
p {
font-size: 12px;
top: 28px;
left: 45px;
}
}